/* Estilos generales del footer */
.footer {
    background-color:   hsla(222, 47%, 11%, 1);
    padding: 20px;
    color: white;
  }
  
  /* Estilos para los divs dentro del footer */


  .izquierda{
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    gap: 4vh;
  }
  .izquierda, .derecha {
    flex: 1;
  }
  .izquierda .imagen-titulo {
    text-align: center; 
  }
  .izquierda img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px;
  }
  
  .footer-a{
    color: white; 
    transition: background-color 0.3s, color 0.3s; 
  }
  #footer-a:hover{
    color: red;
  }
  /* Estilos para el enlace debajo de la imagen */
  .izquierda a {
    display: block; 
    text-align: center;
    margin-top: 0.3em;
    margin-left: 0.3em;
  }

  /* Media Query para hacer que el footer sea responsivo */
  @media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .izquierda{
        display: block;
    }
    .izquierda a {
      margin-top: 0.8em;
      margin-left: 0.8em;
    }
  
  }
   
  /* media query del footer */
  
  @media screen and (max-width: 850px) {
      .row.primary {
        grid-template-columns: 1fr;
      }  
  }
  